# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Optional npm cache directory
.npm

*.swp
*.zip
config.json
AWSconfig.json
**/creds.py
*.crt
*.key
supportFiles/
publishCoreApp.bat







